#show_hide_wp_tables {
	cursor: pointer;
}
#replaceable {
	visibility: hidden;
}
#db_controls {
	width: 95%;
	margin-top: 15px;
	padding: 10px;
}
#db_table_list_container {
	clear: left;
	float: left;
	width: auto;
}
#db_table_list {
	list-style-type: none;
	overflow: hidden;
	margin: 10px 10px;
	border: 2px solid #000;
	border-collapse: collapse;
	display: inline-block;
}
.button_spacer {
	margin-left: 10px;
}
.noMargin {
	margin: 0;
}
.db_table_head {
	display: inline-block;
	width: 100%;
	border-bottom: 2px solid #000;
	border-collapse: collapse;
	background-color: #23282D; /*Admin menu background color*/
	font-size: 12pt;
	color: #fffff1;
	/*color: #9CA1A6; /*Admin menu text color*/
	padding: 5px;
}
.table_name {
	-webkit-transition: background-color 0.5s, color 0.5s; /* Safari */
  transition: background-color 0.5s, color 0.5s;
	border-collapse: collapse;
	color: #000;
	padding: 5px;
	margin: 0;
}
.table_name:hover {
	cursor: pointer;
	background-color: #191E23;
	color: #10AAEB;
}
.odd {
	background-color: #CCD1D6;
}
.even {
	background-color: #F1F1F1;
}
.selected {
	background-color: #0073AA;
	color: #FFFFF1;
}

.selected:hover {
	background-color: #0073AA;
	color: #FFFFF1;
}
